@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow: auto;
  height: 100vh;
}
.container-inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .container-inputs {
    flex-direction: column;
    gap: 1.8rem;
    align-items: start;
    margin-left: 1.2rem;
  }
}

.back-btn {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #212121;
  width: 100px;
  text-align: center;
  align-self: center;
  margin-bottom: 1.2rem;
}

.back-btn:hover {
  background: rgba(204, 204, 204, 0.5);
}

.date-picker-range input {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.date-picker-range .CalendarDay__selected_span {
  background: rgba(99, 110, 250, 0.6);
  border: 1px double #636efa;
  color: #fff;
}

.CalendarDay__selected_span:hover {
  background: rgba(99, 110, 250, 0.8);
}

.date-picker-range .DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #636efa;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: rgba(99, 110, 250, 0.9);
  border: 1px double #636efa;
  color: #fff;
}

.date-picker-range .DateInput_input__focused {
  outline: 0;
  background: #fff;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #4d59ff;
  border-left: 0;
}

.date-picker-range .DateRangePickerInput_arrow_svg {
  width: 20px;
  height: 20px;
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 0.8rem;
}

.checkbox input {
  margin-right: 0.3rem;
}
